video {
    z-index: 1000;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

#container {
    position: relative;
    width: 75em; 
}

.mirrored {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.controls button{
    font-size: 5em;
}

line {
    stroke:rgb(255,0,0);
    stroke-width:2
}

.boundingSvg {
    position: absolute;
    top: 0;
    z-index: 1000;
}